.homePage {
  display: flex;
  flex-direction: row;
  border: 1px solid;
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem;
  width: 50%;

  cursor: pointer;
}

.digi-form-input {
  width: 50vw;
}
