.adbox {
  width: 50%;
  border-radius: 20px;
  padding: 2rem;
  background-color: white;
  margin-top: 1rem;
  transition: 0.3s;
  cursor: pointer;
}

.adbox:hover {
  border: 1px solid black;


  -webkit-box-shadow: 10px 11px 9px 6px rgba(0,136,255,0.35);
-moz-box-shadow: 10px 11px 9px 6px rgba(0,136,255,0.35);
box-shadow: 10px 11px 9px 6px rgba(0,136,255,0.35);
  
.adHeadline {
  text-decoration: underline;
 }
}

.digi-form-input {
  width: 50vw;
  
}

/* .adsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.employmentType {
  background-color: rgb(243,242,241);
  color: rgb(53, 53, 53);
  margin-left: 0.5rem;
  border-radius: 2px;
  padding: 0.2rem;

}
.totalJobs {
  padding: 0.5rem;
  margin-top: 1rem;
  color: var(--digi--color--background--inverted-1)
}

.digi-logo-small{
display: none;
}

