.savedAdContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.savedAdBlock {
  width: 50%;
  border-radius: 20px;
  border: 1px solid;
  padding: 2rem;
  background-color:var(--digi--color--background--neutral-5);
}

.removeBtnContainer{
  display: flex;
  width: 50%;
  justify-content: end;
}