/* .digi-layout-container {
  display: flex;
} */

.digi-layout-container {
  display: flex;
  /* justify-content: center; */
  width: 100%;
  margin: 0px;
}

/* .digi-layout-container:nth-child(1){
  flex-grow:1;
} 

 .digi-layout-container:nth-child(2){
  flex-grow:1;
}  */

@media (max-width: 1000px) {
  .digi-layout-container {
    flex-wrap: wrap;
  }
}

.sc-digi-layout-block-h {
  display: flex;
  flex-direction: column;
  min-width: 60%;
}

.digi-info-card {
  background-color: orange;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}

.infoLeft {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 50%;
}

/* igi-info-card digi-info-card--primary */
