@import "@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/digi-arbetsformedlingen.css";
@import "@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/fonts/src/fonts.css";

@import "./styles/font.css";
@import "./styles/singleAdPage.css";
@import "./styles/homePage.css";
@import "./styles/savedAdPage.css";
@import "./styles/filter.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
}
